//! **************************************************************************
// Written by: Map P.20131013 on Mon Dec 12 15:19:57 2016
//! **************************************************************************

SCHEMATIC START;
CONFIG VCCAUX = "3.3";
COMP "clk" LOCATE = SITE "D9" LEVEL 1;
COMP "pwm" LOCATE = SITE "P15" LEVEL 1;
NET "clk_BUFGP/IBUFG" PERIOD = 83.3333333 ns HIGH 50%;
SCHEMATIC END;

